@model IEnumerable<Product>
@{
    ViewBag.Title = "Shop";
}
@section scripts
{
    <script src="~/CleintApp/dist/inline.bundle.js"></script>
    <script src="~/CleintApp/dist/polyfills.bundle.js"></script>
    <script src="~/CleintApp/dist/styles.bundle.js"></script>
    <script src="~/CleintApp/dist/vendor.bundle.js"></script>
    <script src="~/CleintApp/dist/main.bundle.js"></script>
}
<h1>Shop</h1>
<the-shop></the-shop>